@{
    ViewData["Title"] = "Privacy Policy";
}

@section Css {
    <link href="~/css/PrivacyPage.css" rel="stylesheet" />
}


<div class="container privacy">
    <p>
        Проект создан в демонстративных целях. Разработка велась с использованием инструмента
        контроля версий GitHub, адрес проекта: <a href="https://github.com/fasgetz/BookMarket-AspNetCore">https://github.com/fasgetz/BookMarket-AspNetCore</a>
    </p>
    <p>Описание функциональных возможностей сайта на странице вики GitHub: <a href="https://github.com/fasgetz/BookMarket-AspNetCore/wiki">https://github.com/fasgetz/BookMarket-AspNetCore/wiki</a></p>
    <h1>Почта: <a href="mailto:fasgetz@yandex.ru">fasgetz@yandex.ru</a></h1>

</div>