@model BookMarket.Models.ViewModels.AddBookViewModel


    <form asp-action="AddBook" asp-controller="Books" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="NameBook" class="control-label"></label>
            <input asp-for="NameBook" class="form-control" />
            <span asp-validation-for="NameBook" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PosterBook" class="control-label"></label>
            <div class="custom-file">
                <input asp-for="PosterBook" accept="image/png" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Выберите файл</label>
            </div>
            <span asp-validation-for="PosterBook" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="XMLBook" class="control-label"></label>
            <div class="custom-file">
                <input asp-for="XMLBook" accept="text/xml" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Выберите файл</label>
            </div>
            <span asp-validation-for="XMLBook" class="text-danger"></span>
        </div>
        <div class="form-group">
            <select asp-for="idGenre" asp-items="ViewBag.genresList" class="form-control">
                <option selected disabled>Выберите жанр</option>
            </select>
            <span asp-validation-for="idGenre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <select asp-for="idAuthor" asp-items="ViewBag.list" class="form-control">
                <option selected disabled>Выберите автора</option>
            </select>
            <span asp-validation-for="idAuthor" class="text-danger"></span>
        </div>
        <div class="form-group description">
            <label asp-for="DescriptionBook" class="control-label"></label>
            <textarea asp-for="DescriptionBook" class="form-control"></textarea>
            <span asp-validation-for="DescriptionBook" class="text-danger"></span>
        </div>
        <div class="form-group text-center">
            <input class="btn btn-primary" type="submit" />
        </div>
    </form>


<script type="text/javascript">
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>






