@model BookMarket.Models.ViewModels.AddCommentaryOnBookViewModel

<div class="actionBox">
    <form asp-controller="Books" asp-action="AddCommentaryBook" method="post">
        <div class="form-group description">
            <label asp-for="Commentary" class="control-label">Оставить комментарий</label>
            <textarea asp-for="Commentary" class="form-control"></textarea>
            <span asp-validation-for="Commentary" class="text-danger"></span>
        </div>
        <div class="rating-area">
            <input asp-for="rating" type="radio" id="star-10" name="rating" value="10">
            <label for="star-10" title="Оценка «10»"></label>
            <input asp-for="rating" type="radio" id="star-9" name="rating" value="9">
            <label for="star-9" title="Оценка «9»"></label>
            <input asp-for="rating" type="radio" id="star-8" name="rating" value="8">
            <label for="star-8" title="Оценка «8»"></label>
            <input asp-for="rating" type="radio" id="star-7" name="rating" value="7">
            <label for="star-7" title="Оценка «7»"></label>
            <input asp-for="rating" type="radio" id="star-6" name="rating" value="6">
            <label for="star-6" title="Оценка «6»"></label>
            <input asp-for="rating" type="radio" id="star-5" name="rating" value="5">
            <label for="star-5" title="Оценка «5»"></label>
            <input asp-for="rating" type="radio" id="star-4" name="rating" value="4">
            <label for="star-4" title="Оценка «4»"></label>
            <input asp-for="rating" type="radio" id="star-3" name="rating" value="3">
            <label for="star-3" title="Оценка «3»"></label>
            <input asp-for="rating" type="radio" id="star-2" name="rating" value="2">
            <label for="star-2" title="Оценка «2»"></label>
            <input asp-for="rating" type="radio" id="star-1" name="rating" value="1">
            <label for="star-1" title="Оценка «1»"></label>
            <span asp-validation-for="rating" class="text-danger"></span>
        </div>
        <input asp-for="IdBook" hidden="hidden">
        <div class="form-group text-center">
            <input class="btn btn-primary" type="submit" />
        </div>
    </form>
</div>