@model BookMarket.Models.ViewModels.Books.EditCommentVM

    <form asp-action="AddBookToFavorite" asp-controller="Books" method="post" enctype="multipart/form-data">
        <h5 class="text-center">Редактирование комментария</h5>
        <div class="form-group">
            <input type="hidden" asp-for="IdBook" class="form-control" />
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="IdComment" class="form-control" />
        </div>
        <div class="form-group description">
            <label class="control-label">Комментарий</label>
            <textarea asp-for="comment" class="form-control">@Model.comment</textarea>
        </div>
        <div class="rating-area">
            <input asp-for="Mark" type="radio" id="star-10" name="Mark" value="10">
            <label for="star-10" title="Оценка «10»"></label>
            <input asp-for="Mark" type="radio" id="star-9" name="Mark" value="9">
            <label for="star-9" title="Оценка «9»"></label>
            <input asp-for="Mark" type="radio" id="star-8" name="Mark" value="8">
            <label for="star-8" title="Оценка «8»"></label>
            <input asp-for="Mark" type="radio" id="star-7" name="Mark" value="7">
            <label for="star-7" title="Оценка «7»"></label>
            <input asp-for="Mark" type="radio" id="star-6" name="Mark" value="6">
            <label for="star-6" title="Оценка «6»"></label>
            <input asp-for="Mark" type="radio" id="star-5" name="Mark" value="5">
            <label for="star-5" title="Оценка «5»"></label>
            <input asp-for="Mark" type="radio" id="star-4" name="Mark" value="4">
            <label for="star-4" title="Оценка «4»"></label>
            <input asp-for="Mark" type="radio" id="star-3" name="Mark" value="3">
            <label for="star-3" title="Оценка «3»"></label>
            <input asp-for="Mark" type="radio" id="star-2" name="Mark" value="2">
            <label for="star-2" title="Оценка «2»"></label>
            <input asp-for="Mark" type="radio" id="star-1" name="Mark" value="1">
            <label for="star-1" title="Оценка «1»"></label>
            <span asp-validation-for="Mark" class="text-danger"></span>
        </div>
        <div class="form-group text-center">
            <input class="btn btn-primary" type="submit" />
        </div>
    </form>