<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>market-books - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/mainpage.css" rel="stylesheet" />
    <link href="~/css/test.css" rel="stylesheet" />
    @RenderSection("Css", required: false)
</head>
<body>
    <header>
        <nav class="menu navbar navbar-expand-md navbar-toggleable-md navbar-light  box-shadow mb-1">
            <div class="container">
                <a class="navbar-brand text-light" asp-controller="Home" asp-action="Index">market-books</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex flex-md-row">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="SearchBook" asp-action="Index" asp-route-RatingOrdered="true" method="get">Рейтинг книг</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Privacy">Проект</a>
                        </li>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Администратор"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Books" asp-action="AddBook">Добавить книгу</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Users" asp-action="Index">Пользователи</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Roles" asp-action="Index">Роли</a>
                            </li>
                        }
                    </ul>
                    <div class="auth__div">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @await Component.InvokeAsync("User")
                        }
                        else
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Вход</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Account" asp-action="Register">Регистрация</a>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </nav>
        <div class="container header">
            <div class="row">
                <div class="col">
                    <form asp-controller="SearchBook" asp-action="Index" method="get">
                        <div class="searchBook-input input-group">
                            <span class="fa fa-search text-center"></span>
                            <input id="inputWord" name="word" type="text" class="form-control search" placeholder="Поиск по названию книги, автора">
                            <button class="btn mybtn" type="submit">Поиск</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class="content container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">
                        &copy; 2020 - market-books
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://use.fontawesome.com/056ddd099c.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>

</html>
