/* Страница AboutBook */

.book-view__info__h3rating {
    font-weight: bold;
}

.book-view__info {
    margin-top: 10px;
}

.book-view__poster img {
    width: 220px;
    height: 320px;
}

.book-view__info h2 {
    font-size: 18px;
}

.book-view__info h3 {
    font-size: 16px;
}


.book-view__info .about__rating span {
    font-size: 20px;
    color: gold;
    text-shadow: 1px 1px #c60;
}


.actionBox {
    margin-top: 10px;
}

/* Комментарии */

.aboutBookBox__myComment {
    margin-top: 5px;
    padding: 5px;
    background: #F6FFF8;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.aboutBookBox__myComment__text p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin: 0px;
    border-bottom: 1px solid #e3e3e3;
}

.aboutBookBox__myComment__btn {
    padding-top: 10px;
    padding-bottom: 5px;
}

.aboutBookBox__myComment__date h6 {
    padding-bottom: 5px;
    border-bottom: 1px solid #e3e3e3;
}

.aboutBookBox__myComment__rating span {
    font-size: 20px;
    color: gold;
    text-shadow: 1px 1px #c60;
}

/* Комментарии остальных людей */
.commentaryBox {
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.commentaryBox__good {
    background: #cfc;
}

.commentaryBox__bad {
    background: #f2f2f2;
}

.commentaryBox__title {    
    padding-top: 10px;
    padding-left: 5px;
    border-bottom: 1px solid #e3e3e3;
}

.commentaryBox__text {
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
}


.aboutBookBox {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

    .aboutBookBox h3 {
        margin: 5px;
        padding-top: 10px;
        padding-bottom: 10px;

    }



/* Рейтинг звезд */

.rating-result {
    margin: 0 auto;
}

    .rating-result span {
        padding: 0;
        font-size: 20px;
        line-height: 1;
        color: lightgrey;
        text-shadow: 1px 1px #bbb;
    }

    .rating-result > span:before {
        content: '★';
    }

    .rating-result > span.active {
        color: gold;
        text-shadow: 1px 1px #c60;
    }

/* Рейтинг звезд выставление */



.rating-area {
    overflow: hidden;
    width: 420px;
    margin: 0 auto;
}

    .rating-area:not(:checked) > input {
        display: none;
    }

    .rating-area:not(:checked) > label {
        float: right;
        width: 42px;
        padding: 0;
        cursor: pointer;
        font-size: 50px;
        line-height: 50px;
        color: lightgrey;
        text-shadow: 1px 1px #bbb;
    }

        .rating-area:not(:checked) > label:before {
            content: '★';
        }

    .rating-area > input:checked ~ label {
        color: gold;
        text-shadow: 1px 1px #c60;
    }

    .rating-area:not(:checked) > label:hover,
    .rating-area:not(:checked) > label:hover ~ label {
        color: gold;
    }

    .rating-area > input:checked + label:hover,
    .rating-area > input:checked + label:hover ~ label,
    .rating-area > input:checked ~ label:hover,
    .rating-area > input:checked ~ label:hover ~ label,
    .rating-area > label:hover ~ input:checked ~ label {
        color: gold;
        text-shadow: 1px 1px goldenrod;
    }

.rate-area > label:active {
    position: relative;
}


@media screen and (max-width: 768px) {
    .rating-area {
        width: 210px;
    }

        .rating-area:not(:checked) > label {
            width: 21px;
            font-size: 25px;
            line-height: 25px;
        }
}
