
.btn, .nav-item a {
    background: #aecedf;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
}

/* Оформление */
.main_page {
  padding: 20px;

}


.main_page h1, h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.main_page h1 {

  color: #f90;
}

.main_page h2 {
  display: inline-block;
  border-bottom: 2px solid rgba(48, 151, 209, 0.25)

}




/* Карточка Book */
.bookData {

}

.bookData__image img {
  height: 220px;
  width: 140px;
  -o-object-fit: cover;
   object-fit: cover;
   object-position: center;
}

.bookData .bookData__name {
    height: 48px;
}

/* Секция жанров */

.genresBlock .separator {
    padding-bottom: 20px;
    border-top: 2px solid white;
}




.genresBlock ul {
    padding-bottom: 20px;
}

.genresBlock .allGenres {
    padding-bottom: 40px;
}

.genresBlock {
    margin-top: 30px;
    background-color: #008cf0;
    border-radius: 15px;
}

    .genresBlock ul {
        margin-left: 0; /* Отступ слева в браузере IE и Opera */
        padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
        list-style-type: none; /* Убираем маркеры */
    }

    .genresBlock h2 {
        padding-top: 15px;
    }

    .genresBlock h2, .genresBlock li > h5, .genresBlock li > a {
        color: white;
    }

    .genresBlock h5 {
        font-size: 18px;
        background-color: #f4a460;
        border-radius: 5px;
        padding: 7px;
    }



    /*.genresBlock .genreContent li:not(:last-child) {
        padding-left: 20px;
    }*/

    /*.genresBlock li:last-child > a {
        color: black;
    }

    .genresBlock .genreContent li:last-child a:before {
        content: "+ ";
    }*/

/* Конец секции жанров */