/* Секция авторизации */
.auth__div {
    height: 44px;
}
.auth__div .btn, .auth__div input {
    outline: none; /* Для синий ободки */
    border: 0;
    background: transparent;
}



    .auth__div_img {
        border-radius: 50px;
        width: 42px;
        height: 42px;
    }

/* */

.btn, .nav-item a {
    background: #aecedf;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
}

/* Оформление */
.main_page {
  padding: 20px;

}


.main_page h1, h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.main_page h1 {

  color: #f90;
}

.main_page h2 {
  display: inline-block;
  border-bottom: 2px solid rgba(48, 151, 209, 0.25)

}


.mainPage__link div {
    margin-top: 50px;
}

/* Карточка Book */


.bookData__image img {
  height: 220px;
  width: 140px;
  -o-object-fit: cover;
   object-fit: cover;
   object-position: center;
}

.bookData .bookData__name {
    height: 48px;
}

.bookData .bookData__rating span {
    font-size: 20px;
    color: gold;
    text-shadow: 1px 1px #c60;
}


/* Секция последних кооментариев книгам */

.lastCommentsBooks h2 {
    margin-top: 50px;
    color: #4f66d6;
}


/* Секция жанров */
.genresBlock .separator {
    padding-bottom: 20px;
    border-top: 2px solid white;
}

.genresBlock ul {
    padding-bottom: 20px;
}

.genresBlock .allGenres {
    padding-bottom: 40px;
}

.genresBlock {
    margin-top: 30px;
    background-color: #008cf0;
    border-radius: 15px;
}

    .genresBlock ul {
        margin-left: 0; /* Отступ слева в браузере IE и Opera */
        padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
        list-style-type: none; /* Убираем маркеры */
    }

    .genresBlock h2 {
        padding-top: 15px;
    }

    .genresBlock h2, .genresBlock li > h5, .genresBlock li > a {
        color: white;
    }

    .genresBlock h5 {
        font-size: 18px;
        background-color: #f4a460;
        border-radius: 5px;
        padding: 7px;
    }



    /*.genresBlock .genreContent li:not(:last-child) {
        padding-left: 20px;
    }*/

    /*.genresBlock li:last-child > a {
        color: black;
    }

    .genresBlock .genreContent li:last-child a:before {
        content: "+ ";
    }*/

/* Конец секции жанров */

/* Рейтинг читателей */

/* Рейтинг читателей */

.CommentaryBox__header {
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgba(0,0,0,.3);
}

.CommentaryBox {
    border-top: 1px solid white;
}

    .CommentaryBox:last-child {
        border-bottom: 1px solid white;
    }

    .CommentaryBox:hover:not(.CommentaryBox__header) {
        background: #f5f5f5;
    }




.UsersRating {
    background: #008cf0;
    color: white;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #dddddd;
}

    .UsersRating a {
        color: white;
        text-decoration: none;
    }

        .UsersRating a:hover {
            color: black;
        }

    .UsersRating .commentator_ava img {
        height: 35px;
        width: 35px;
        border-radius: 150px;
    }

    .UsersRating .commentator__stars span {
        color: gold;
        text-shadow: 1px 1px #c60;
    }

/* Медиа запросы к мобильным устройствам */

@media screen and (max-width: 767.98px) {

    .searchBook-input {
        margin-top: 35px;
    }
    html, body {
        font-size: 80%;
    }

    /* Блок рейтинга пользователей */

    .CommentaryBox__header {
        display: none;
    }

    .UsersRating, .CommentaryBox__header, .genresBlock {
        font-size: 72.5%;
    }

    .genresBlock h5 {
        font-size: 14px;
    }

        .UsersRating .commentator_ava img {
            height: 30px;
            width: 30px;
        }
}